/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       url('/assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto'),
       url('/assets/fonts/roboto-v30-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v30-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
       url('/assets/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto'),
       url('/assets/fonts/roboto-v30-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v30-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       url('/assets/fonts/roboto-mono-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-mono-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-700 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
       url('/assets/fonts/roboto-mono-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-mono-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-italic - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto'),
       url('/assets/fonts/roboto-mono-v22-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-mono-v22-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-700italic - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto'),
       url('/assets/fonts/roboto-mono-v22-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-mono-v22-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 50rem;
  margin: auto;
}

p {
  line-height: 160%;
}

hr {
  border: none;
  background-color: #aaa;
  height: 2px;
}

code {
  font-family: 'Roboto Mono', monospace;
}

figure.quote {
  margin-left: 1rem;
}

pre {
  overflow: auto;
  max-width: 100%;
  background-color: #f5f5f5;
  padding: 1rem;
}

figure.quote blockquote, figure.quote figcaption {
  margin-left: 0rem;
  margin-right: 0rem;
}

:link { color: #0000EE; }
:visited { color: #551A8B; }

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover::before, a:hover::after {
  text-decoration: none;
}

nav {
  width: 100%;
}

/* having the nav links shown as different colors based on visibility is
 * somewhat annoying and not really useful */ 
nav :visited {color: #0000EE;}

nav img, nav a, nav span, nav .links {
  display: inline-block;
  vertical-align: middle;
}

nav .links {
  display: inline-block;
}

nav .icon {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.ansi p {display:inline}
.ansi .z {font-weight:bold}
.ansi .Z {font-style: italic}
.ansi .x {text-decoration:underline}

.ansi .a {color:#565} .ansi .ba {background-color:#565}
.ansi .b {color:#E02} .ansi .bb {background-color:#E02}
.ansi .c {color:#480} .ansi .bc {background-color:#480}
.ansi .d {color:#870} .ansi .bd {background-color:#870}
.ansi .e {color:#07B} .ansi .be {background-color:#07B}
.ansi .f {color:#B4B} .ansi .bf {background-color:#B4B}
.ansi .g {color:#088} .ansi .bg {background-color:#088}
.ansi .h {color:#eee} .ansi .bh {background-color:#eee}
.ansi .i {color:#333} .ansi .bi {background-color:#333}
.ansi .j {color:#b54} .ansi .bj {background-color:#b54}
.ansi .k {color:#684} .ansi .bk {background-color:#684}
.ansi .l {color:#874} .ansi .bl {background-color:#874}
.ansi .m {color:#679} .ansi .bm {background-color:#679}
.ansi .n {color:#969} .ansi .bn {background-color:#969}
.ansi .o {color:#577} .ansi .bo {background-color:#577}
.ansi .p {color:#ddd} .ansi .bp {background-color:#ddd}

.dark-mode {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-mode {display: none;}
  .dark-mode {display: unset;}

  body {
    background-color: #16161a;
    color: white;
  }

  pre {
    background-color: #1e1e24;
  }

  :link, nav :visited { color: #87CEFA; }
  :visited { color: #88c; }
}